<div class="container" *ngIf="editMode === false; else elseBlock">
    <div class="row pt-2" >
        <div class="col-2" id="id{{inPerson.id}}">{{inPerson.id}}</div>
        <div class="col-2" id="firstname{{inPerson.id}}">{{inPerson.firstname}}</div>
        <div class="col-2" id="surname{{inPerson.id}}">{{inPerson.lastname}}</div>
        <div class="col-2">{{inPerson.phone}}</div> 
          <button class=" btn btn-light"
          (click)="editMode=!editMode">
          Change</button>
        <button type="button" (click)="delete()"  class="btn btn-danger ml-3">Del</button>
         </div>
</div>
<ng-template #elseBlock>

  <div class="container" >
    <div class="row pt-2">
      <div class="col-2" id="id{{inPerson.id}}">{{inPerson.id}}</div>
          <div class="col-2"><input type="text" [(ngModel)]="inPerson.firstname"></div>
          <div class="col-2"><input type="text" [(ngModel)]="inPerson.lastname"></div>
         <div class="col-2"><input type="text" [(ngModel)]="inPerson.phone"></div>
          <button class=" btn btn-light ml-5"
            (click)="editMode=!editMode">
            Change</button>
          <button class=" btn btn-light"
            (click)="onSave()">
            Save</button>
          <button type="button" (click)="delete()"  class="btn btn-danger ml-3">Del</button>
           
    </div>
  </div>


</ng-template>  

