<div class="container">
    <div class="row">
        
        <div class="col-12">
            <input type="text" class="form-control" placeholder="Имя"  [(ngModel)]="input1" >
        </div>
        <div class="col-12 mt-2">
            <input type="text" class="form-control" placeholder="Фамилия" [(ngModel)]="input2" >
        </div>
        <div class="col-12 mt-2">
            <button class="btn btn-primary"
                (click)="onAddPerson(input1, input2)"
                [disabled]="disable(input1,input2)" >
                Сохранить</button>
        </div>

        <!-- <div class="col-12 mt-5">
            <input type="text" class="form-control" placeholder="Поиск"  [(ngModel)]="search" >
          </div> -->
   

    </div>
</div>

]